@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    background-color: azure;
    color: azure;
}

h1, h2 {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}

.header-grid {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: 15% 40%;
    height: 70vh;
    width: 100%;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(16, 1fr);
    z-index: 10;
    align-items: center;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 70vh;
    width: 100%;
    z-index: 1;
    border-bottom: 30px solid rgba(0, 0, 0, 0.7);
}

.header-grid img {
    width: 100%;
    filter: invert(1);
}

.header-grid img,
.header-grid a {
    z-index: 15;
}

.header-grid-a {
    grid-area: 2 / 2 / 5 / 5;
}

.header-grid-b {
    grid-area: 3 / 10 / 4 / 13;
}

.header-grid-c {
    grid-area: 5 / 12 / 5 / 15;
}

.header-grid-d {
    grid-area: 7 / 15 / 8 / 17;
}

.header-grid a {
    text-decoration: none;
    font-size: 2rem;
    color: azure;
    font-weight: 300;
    transition: 1.5s;
}

.header-grid a:hover {
    transition: 1.5s;
    border-left: 2px solid rgb(94, 75, 218);
    padding-left: 15px;
}

#mission {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 30px auto;
    text-align: center;
    color: black;
}

#mission img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 3px 3px 2px black;
}

#mission figcaption {
    background-image: url('../assets/back.jpg');
    background-size: cover;
    background-position: 3% 30%;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 3px 3px 2px black;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px black;
}

#products {
    background-image: url('../assets/background2.jpg');
    background-size: cover;
    background-position: 30% 60%;
    height: 100%;
    padding: 20px;
    border-top: 10px solid rgba(0, 0, 0, 0.7);
    font-size: 1.3rem;
}

#products img {
    width: 20%;
    border-radius: 50%;
}

#products figure {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

#products figcaption {
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 30px;
    padding: 20px;
    color: azure;
}

footer {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.2rem;
    background: linear-gradient(10deg, #0a0a0a, #181616);
}

footer p {
    margin: 0;
    padding: 20px;
    color: azure;
    clear: both;
}

#team {
    height: 100%;
    width: 90%;
    padding: 30px;
    color: black;
    font-size: 1.5rem;
}

#team img {
    width: 25%;
    float: left;
}

#team figure {
    margin: 3rem 0;
}